<!DOCTYPE html>
<html>
<head>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <style>
    /* CSS for iPhone (portrait) */
@media only screen and (max-width: 480px) {
  /* Set container to full width */
  .container {
    width: 100%;
    padding: 10px;
  }

  /* Adjust product card layout */
  .product-card {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
  }

  /* Center align product card content */
  .product-card h3,
  .product-card img,
  .product-card p {
    text-align: center;
  }

  /* Adjust image size */
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  /* Adjust pagination container */
  .pagination-container {
    text-align: center;
  }

  /* Hide previous and next page links */
  .previous-page,
  .next-page {
    display: none;
  }
}

  </style>
</head>
<body>
  <div class="container">
    <h1>Ecommerce App</h1>

    <div class="cart-icon">
      <a href="/shopping-cart">
        <img src="images/cart.jpg" alt="Cart">
      </a>
    </div>

    <h2>Products - Page <%= pageNumber %></h2>
    <div class="products-container">
      <% products.forEach(function(product, index) { %>
        <div class="product-card">
          <h3><%= product.name %></h3>
          <img src="<%= product.image %>" alt="<%= product.name %>">
          <p>Price: $<%= product.price %></p>
          <p>Description: <%= product.description %></p>
          <form action="/cart" method="GET">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <button type="submit" onclick="showAlert()" class="button add-to-cart-button">Add to Cart</button>
          </form>
          <form action="/delete-item" method="POST">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <button type="submit" class="button delete-button">Delete from Cart</button>
          </form>
          <a href="/product-details/<%= product.id %>" class="examine-link">Examine &rarr;</a>
        </div>
      <% }) %>
    </div>

    <% if (previousPage !== null || nextPage !== null) { %>
      <div class="pagination-container">
        <% if (previousPage !== null) { %>
          <a class="pagination-link previous-page" href="/?page=<%= previousPage %>">Previous Page</a>
        <% } %>
    
        <% if (nextPage !== null) { %>
          <a class="pagination-link next-page" href="/?page=<%= nextPage %>">Next Page</a>
        <% } %>
      </div>
    <% } %>
    
    
  </div>

  <script>
    function showAlert() {
      alert('Item added to cart');
    }
  </script>
</body>
</html>
