<!DOCTYPE html>
<html>
<head>
  <title>Product Details</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
    }

    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .product-details {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .product-details img {
      max-width: 400px;
      margin: 10px;
      display: block;
    }

    .buttons-container {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .button:hover {
      background-color: #0056b3;
      cursor: pointer;
    }

    .delete-from-cart {
      background-color: #dc3545;
    }

    .add-to-cart-button {
      background-color: #28a745;
    }

    .price {
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

    .price:before {
      content: "$";
    }

    @media only screen and (max-width: 600px) {
      .price {
        position: static;
        text-align: right;
        margin-top: 10px;
      }
    }
  </style>
</head>
<body> 
  <div class="container">
    <h2 class="title"><%= product.description %></h2>
   
    <div class="product-details">
      <h3><%= product.name %></h3>
      <img src="/images/<%= product.image.split('/').pop() %>" alt="<%= product.name %>">
      <p class="price">Price: <%= product.price %></p>

      <div class="buttons-container">
        <form action="/delete-item" method="POST">
          <input type="hidden" name="productId" value="<%= product.id %>">
          <button type="submit" class="button delete-from-cart">Delete from Cart</button>
        </form>

        <form action="/cart" method="GET">
          <input type="hidden" name="productId" value="<%= product.id %>">
          <button type="submit" onclick="showAlert()" class="button add-to-cart-button">Add to Cart</button>
        </form>
      </div>
    </div>

    <a href="/" class="button">Back to Products</a>
  </div>
</body>
</html>
