<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>

  <link href="css/style.css" rel="stylesheet" type="text/css" />

  <style>
    .total-price {
      font-weight: bold;
      font-size: 24px;
      color: blue;
      margin: 20px;
      display: inline-block;
      background-color: lightblue;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .total-price::before {
      content: "$";
      margin-right: 5px;
    }
  </style>

</head>
<body>
<h1>Shopping Cart</h1>

<div class="cart-container">
<% if (cart.length > 0) { %>
  <ul>
    <% cart.forEach(product => { %>
      <li>
        <h3><%= product.name %></h3>
        <p><% if (product.price) { %>Price: $<span class="price"><%= product.price.toFixed(2) %></span><% } else { %>Price: N/A<% } %></p>
        <p>Description: <%= product.description %></p>
        <img src="<%= product.image %>" alt="<%= product.name %>">

        <form id="deleteForm-<%= product.id %>" action="/delete-item" method="POST">
          <input type="hidden" name="productId" value="<%= product.id %>">
          <button type="button" class="button delete-button">Delete from Cart</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <p><span class="total-price">Total Price: <%= totalPrice.toFixed(2) %></span></p>
  <a href="/cards" class="button buy-button">Buy All</a>
<% } else { %>
  <p class="empty-cart-message">Your cart is empty.</p>
<% } %>
</div>

<a href="/" class="button">Back to Home</a>

<script>
function updateTotalPrice() {
  const prices = document.querySelectorAll('.price');
  let totalPrice = 0;
  prices.forEach(price => {
    totalPrice += parseFloat(price.innerText);
  });
  document.getElementById('totalPrice').innerText = totalPrice.toFixed(2);
}

// Attach event listener to each delete button
const deleteButtons = document.querySelectorAll('.delete-button');
deleteButtons.forEach(button => {
  button.addEventListener('click', function() {
    const form = button.parentElement;
    form.submit();
    const listItem = form.parentElement;
    listItem.remove();
    updateTotalPrice();
  });
});
</script>
</body>
</html>
